*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1200px;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  background-color: #1156c7;
  color: white;
  padding: 0 20px;
  border-radius: 0 0 15px 15px;
}
form {
  padding: 0px 20px 10px 20px;
  margin: 25px auto;
  display: block;
  max-width: 550px;
  border: 2px solid #1156c7;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgb(8 57 145 / 15%);
}
input,
select,
textarea {
  margin: 5px 0;
  width: 100%;
  border-radius: 7px;
  padding: 12px 12px;
  font-size: 16px;
  color: rgb(42, 40, 40);
  background-color: #f4f4f4;
  border: 1px solid #827b7b;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.15);
  border: 2px solid #423939;
  background-color: #fff;
}
label {
  display: block;
  margin: 12px 0 5px 0;
  font-size: 16px;
}
button {
  margin: 0 auto;
  display: block;
  border: none;
  width: 30%;
  padding: 10px 12px;
  border-radius: 7px;
  background-color: #1156c7;
  color: white;
  font-size: 16px;
  transition: all 0.3s;
}
button:hover {
  cursor: pointer;
  background-color: #0b4094;
}
.link {
  margin-top: 10px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color: #1156c7;
  font-weight: bold;
  transition: all 0.3s;
}
.link a:hover {
  color: #0b4094;
}
.error {
  border: 2px solid #9d1111;
}
#errorMessage {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.block {
  font-size: 16px;
  text-align: right;
}
.block a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.block a:hover {
  text-decoration: underline;
}
.title {
  margin: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.title img {
  width: 24px;
}
.title a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 7px;
  background-color: #1156c7;
  color: white;
  font-size: 16px;
  transition: all 0.3s;
}

.title a:hover {
  cursor: pointer;
  background-color: #0b4094;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 250px;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid #1157c769;
  padding: 10px;
}
.card_id {
  background-color: #a39e9ea9;
  border-radius: 10px;
  padding: 7px 10px;
  width: fit-content;
  color: #322f2f;
}
.status_group input {
  width: 30px;
}
